<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exa.server.dao.MonitorVisitDao">

    <select id="getMonitorVisitCount" resultType="java.lang.Integer">
        select count(*) from monitor_visit where visit_time >= #{startTime} AND visit_time &lt;  #{endTime};
    </select>
    
    <insert id="saveMonitorVisit" >
    	insert into monitor_visit (method,visit_time,create_time,update_time) values (#{method},#{visitTime},now(),now());
    </insert>
</mapper>